@use "vars" as *;


.c-fc{ //font-color
	&--white{
		color: white !important;
	}
	&--black{
		color: black !important;
	}
	&--red{
		color: #F63A3A !important;
	}
	&--blue{
		color: #087AFF !important;
	}
}



.c-ft{//font-family
	&--en{
		font-family: $font-en;
	}
	&--jp{
		font-family: $font-jp;
	}
}




.c-al{
	&--c{
		text-align: center !important;
	}
	
	&--r{
		text-align: right !important
	}
	
	&--l{
		text-align: left !important;
	}
}

.f-w--400{
	font-weight: 400 !important;
}
.f-w--700{
	font-weight: bold !important;
}



.heading-ttl{
	display: block;
	@include font-size(24);
}

.c-btn{
	display: inline-block;
	padding: 8px 20px;
	@include font-size(14);
	border-radius: 4px;
	cursor: pointer;
	border: none;
	outline: none;
	@include smooth-transition;
	background: white;
	color: black;
	&--blue{
		background: #1890FF;
		color: white;
	}
	&:hover{
		opacity: 0.7;
	}
}

.block-border{
	border-top: 1px dotted rgba(black,0.5);
	padding-top: 30px;
	margin-top: 30px;
}