@use "vars" as *;

.task-add{
	@include flex(end,0,wrap);
	margin-bottom: 15px;
}

.task-list{
	width: 100%;
	margin-bottom: 80px;
	tr{
		border-bottom: 1px solid #F0F0F0;
		th,td{
			padding: 15px 10px;
			&:nth-child(1){
				width: 70px;
			}
			&:nth-child(5),
			&:nth-child(6),
			&:nth-child(7){
				width: 10%;
			}
		}
		th{
			background: #FAFAFA;
		}
		td{

		}
	}
}