@use "vars" as *;


.block {
	background: white;
	position: relative;
	padding: 40px;
	margin: 0 auto;
}

.flex{
	display: flex;
	flex-wrap: wrap;
	&--center{
		justify-content: center;
	}
	&--light-center{
		align-items: center;
	}
	&--light-end{
		align-items: flex-end;
	}
}

sup{
	color: red;
}



//form input
.form-control{
	display: block;
	width: 100%;
	height: 32px;
	background: white;
	border: 1px solid #D9D9D9;
	font-weight: 500;
	padding: 5px 10px;
	@include font-size(14);
	&:focus{
		border-color: #66afe9;
		outline: 0;
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
	}
}
textarea.form-control{
	height: 100px;
}

select.form-control{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	background: white url(../img/arrow-dow.png) no-repeat 97%;
	background-size: 11px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	&::-ms-expand {
		display: none;
	}
	&.mw-100,&.mw-120{
		background: white url(../img/arrow-dow.png) no-repeat 94%;
		background-size: 11px;
	}
}



//radio end check box
.pure-list{
	margin-bottom: 15px;
	li{
		margin-right: 45px;
		margin-bottom: 10px;
		&:last-child{
			margin-right: 0;
		}
	}
	&__input{
		position: relative;
		input{
			position: absolute;
			top:  0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 1;
			opacity: 0;
			cursor: pointer;
			&[type="checkbox"]{
				& + span{
					&:after{
						background-color: transparent;
						top: 13px;
						left: 4px;
						width: 8px;
						height: 3px;
						border-style: solid;
						border-color: black;
						border-width: 0 0 2px 2px;
						border-image: none;
						transform: rotate(-45deg) scale(0);
					}
				}
				&:checked{
					& + span{
						&:after{
							content: '';
							transform: rotate(-45deg) scale(1);
							transition: transform 200ms ease-out;
						}
						&:before{
							animation: borderscale 200ms ease-in;
						}
					}
				}
			}
			&[type="radio"]{
				+ span{
					&:after,&:before{
						border-radius: 50%;
					}
					&:before{
						border: 1px solid #1890FF;
					}
				}
				&:checked{
					& + span{
						&:before{
							animation: borderscale 300ms ease-in;
							background-color: white;
						}
						&:after{
							transform: scale(1);
						}
					}
				}
			}
		}
		span{
			display: block;
			position: relative;
			padding: 5px 0 5px 25px;
			vertical-align: middle;
			user-select: none;
			cursor: pointer;
			&:before{
				box-sizing: content-box;
				content: '';
				position: absolute;
				top: 9px;
				left: 0;
				width: 14px;
				height: 14px;
				border: 1px solid #D9D9D9;
				text-align: center;
				transition: all 0.4s ease;
			}
			&:after{
				box-sizing: content-box;
				content: '';
				background-color: #1890FF;
				position: absolute;
				top: 12px;
				left: 3px;
				width: 10px;
				height: 10px;
				transform: scale(0);
				transform-origin: 50%;
				transition: transform 200ms ease-out;
			}
		}
	}
}


.sec-heading{
	padding: 15px 40px;
	background: white;
	@include font-size(14);
	.breadcrumb{
		@include flex(0,center,wrap);
		margin-bottom: 30px;
		a{
			display: inline-block;
			position: relative;
			color: #008ef4;
			padding: 0 15px 0 0;
			margin: 0 15px 0 0;
			&:before{
				content: "";
				position: absolute;
				bottom: 1px;
				left: 0;
				right: 15px;
				height: 1px;
				background: #008ef4;
			}
			&:after{
				content: "";
				border: solid #008EF4;
				border-width: 0 1px 1px 0;
				display: inline-block;
				padding: 3px;
				transform: rotate(-45deg);
				position: absolute;
				top: 6px;
				right: 0;
			}
		}
	}
}
.sec-content{
	padding: 40px 40px 100px;
	@include font-size(14);
}
.navigation-show{
	@include flex(end,0,wrap);
	margin-bottom: 50px;
}
.pagination{
	@include flex(center,center);
	@include font-size(14);
	line-height: 1;
	a,span{
		@include flex(center,center,wrap);
		color: black;
		@include smooth-transition;
		width: 32px;
		height: 32px;
		border: 1px solid #D9D9D9;
		border-radius: 2px;
		font-family: $font-en;
		padding-top: 2px;
		&:hover,&.active{
			opacity: 1;
			color: #1890FF;
			border: 1px solid #1890FF;
		}
		&.disabled{
			pointer-events: none;
			color: #D9D9D9;
		}
		&.page{
			&-next,&-prev{
				padding-top: 0;
			}
		}
	}
	li{
		margin: 0 2px;
	}
}

.mw400{

}
.mw{
	&-50{
		max-width: 50px !important;
	}
	&-100{
		max-width: 100px !important;
	}
	&-120{
		max-width: 120px !important;
	}
	&-400{
		max-width: 400px !important;
	}
}
.w66{
	width: 66% !important;
}
.w75{
	width: 75% !important;
}
.w100{
	width: 100% !important;
}
.item--auto{
	width: auto !important;
}
.hidden{
	display: none !important;
}
.disabled{
	pointer-events: none;
	color: #ccc;
}

.inline-block{
	display: inline-block !important;
}

.ml{
	&--15{
		margin-left: 15px !important;
	}
	&--0{
		margin-left: 0px !important;
	}
}
.mr{
	&--15{
		margin-right: 15px !important;
	}
	&--30{
		margin-right: 30px !important;
	}
	&--50{
		margin-right: 50px !important;
	}
}