<header id="header">
	<ul class="header-nav">
		<li class="header-nav__item">
			<span class="header-nav__sub active"><i class="fa-regular fa-envelope"></i> Navigation One</span>
			<ul class="header-nav__menu active">
				<li class="active"><a href="">Option 1</a></li>
				<li><a href="">Option 1</a></li>
				<li><a href="">Option 1</a></li>
				<li><a href="">Option 1</a></li>
			</ul>
		</li>
		<li class="header-nav__item">
			<span class="header-nav__sub"><i class="fa-regular fa-envelope"></i> Navigation Two</span>
			<ul class="header-nav__menu">
				<li><a href="">Option 1</a></li>
				<li><a href="">Option 1</a></li>
				<li><a href="">Option 1</a></li>
				<li><a href="">Option 1</a></li>
			</ul>
		</li>
	</ul>
</header>