<main id="page-<%= pageData.template %>">
	<section class="sec-heading">
		<div class="breadcrumb">
			<a href="">ホーム</a><span>タスクの追加</span>
		</div>
		<h1 class="heading-ttl">
			タスク追加
		</h1>
	</section>
	<section class="sec-content">
		<div class="block">
			<div class="task-add">
				<span class="c-btn c-btn--blue">＋追加</span>
			</div>
			<table class="task-list">
				<tr>
					<th>No.</th>
					<th>ホテル名</th>
					<th>タスク名</th>
					<th>実施するOTAサイト</th>
					<th>作成日</th>
					<th>実施予定日</th>
					<th>実施した日</th>
					<th>作成人</th>
					<th></th>
				</tr>
				<tr>
					<td>1</td>
					<td>ホテル1</td>
					<td>プランの登録</td>
					<td>じゃらん、楽天</td>
					<td>2023/08/23</td>
					<td>2023/08/24</td>
					<td>2023/08/24</td>
					<td>山田一郎</td>
					<td>
						<div class="change-item">
							<button class="c-btn js-change-item">
								<span class="odd-01">。。。</span>
								<span class="odd-02"><i class="fa-regular fa-rectangle-xmark"></i></span>
							</button>
							<ul class="change-item__list">
								<li><a href="">add new</a></li>
								<li><a href="">edit</a></li>
								<li><button class="c-btn"><i class="fa-solid fa-trash"></i></button></li>
							</ul>
						</div>
					</td>
				</tr>
				<tr>
					<td>1</td>
					<td>ホテル1</td>
					<td>プランの登録</td>
					<td>じゃらん、楽天</td>
					<td>2023/08/23</td>
					<td>2023/08/24</td>
					<td>2023/08/24</td>
					<td>山田一郎</td>
					<td>
						<div class="change-item">
							<button class="c-btn js-change-item">
								<span class="odd-01">。。。</span>
								<span class="odd-02"><i class="fa-regular fa-rectangle-xmark"></i></span>
							</button>
							<ul class="change-item__list">
								<li><a href="">add new</a></li>
								<li><a href="">edit</a></li>
								<li><button class="c-btn"><i class="fa-solid fa-trash"></i></button></li>
							</ul>
						</div>
					</td>
				</tr>
				<tr>
					<td>1</td>
					<td>ホテル1</td>
					<td>プランの登録</td>
					<td>じゃらん、楽天</td>
					<td>2023/08/23</td>
					<td>2023/08/24</td>
					<td>2023/08/24</td>
					<td>山田一郎</td>
					<td>
						<div class="change-item">
							<button class="c-btn js-change-item">
								<span class="odd-01">。。。</span>
								<span class="odd-02"><i class="fa-regular fa-rectangle-xmark"></i></span>
							</button>
							<ul class="change-item__list">
								<li><a href="">add new</a></li>
								<li><a href="">edit</a></li>
								<li><button class="c-btn"><i class="fa-solid fa-trash"></i></button></li>
							</ul>
						</div>
					</td>
				</tr>
				<tr>
					<td>1</td>
					<td>ホテル1</td>
					<td>プランの登録</td>
					<td>じゃらん、楽天</td>
					<td>2023/08/23</td>
					<td>2023/08/24</td>
					<td>2023/08/24</td>
					<td>山田一郎</td>
					<td>
						<div class="change-item">
							<button class="c-btn js-change-item">
								<span class="odd-01">。。。</span>
								<span class="odd-02"><i class="fa-regular fa-rectangle-xmark"></i></span>
							</button>
							<ul class="change-item__list">
								<li><a href="">add new</a></li>
								<li><a href="">edit</a></li>
								<li><button class="c-btn"><i class="fa-solid fa-trash"></i></button></li>
							</ul>
						</div>
					</td>
				</tr>
			</table>
			<div class="navigation-show">
				<ul class="pagination c-ft--en">
					<li><a href="" class="page-prev disabled"><i class="fa-solid fa-chevron-left"></i></a></li>
					<li><a href="" class="active">1</a></li>
					<li><a href="">2</a></li>
					<li><a href="">3</a></li>
					<li><a href="">4</a></li>
					<li><a href="">5</a></li>
					<li><a href="" class="page-next"><i class="fa-solid fa-chevron-right"></i></a></li>
				</ul>
			</div>
		</div>
	</section>
</main>